.title{
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    color: black;
    margin-left:17%;
}

.list-group-horizontal-sm{
    margin-left:17%;
}

.list-width{
    background-color:#80cbc4;
    border:none;
    width:20%;
}
.list-widths{
    border: none;
    width:20%;
}
#edit_button{
    position: relative;
    border:none;
   margin-left:4%;
  
}
#delete_button{
  position: absolute;
    border:none;
    margin-left:40%;
}
.list-group{
    width: 100%;
}
.add-button{
    margin-top:10%;
    margin-left:17%;
    background-color:#66bb6a;
}
#Add{
    border:none;
}
.add-number{
    margin-top:10%;
    margin-left:17%;
    background-color:#66bb6a;
}