.Phonebook{
    width:70%;
    margin-left:9%;
    margin-top:6%;
}
.header{
    background-color:#eceff1;
    height:80px;
}
.contact{
    margin-top: -1%;
}
.Title{
    font-family:'Times New Roman', Times, serif;
    font-size:60px;
    color: black;
    margin-left:17%;
}
.list-group-horizontal-sm{
           margin-left:17%;
           
}
.form-name{
    position: relative;
    left:42%;
    margin-top:8%;
}
.form-name sname{
   display: none;
}
.sname{
 position: relative;
 margin-top:2%;
}
.form-number{
    position: relative;
    left:16%;
  margin-top:6%;
}

.camera {
  position: absolute;
  left:20%;
  width:15%;
  height:20%;
  top:30%;
  font-size:200%;
  background-color: #9e9e9e;
  color:white;
}
.form-control{
    border-top:none;
    border-left:none;
    border-right:none;
}
.phone{
font-size:100%;
display:inline-block;
transform: rotate(100deg);
background-color:black;
color: white;
padding:30px;
border-radius:48%;

}
.logo{
    margin-top: -6%;
    margin-left:8%;
}
.contact{
    padding:1%; 
    font-size:40px;  
}
.angle{
 padding:1%;
 
}
.list-group-item{
    background-color:#80cbc4;
}
.list-width{
    width: 250px;
}

.own{
    margin-left:70%;
}
.number-mobile{
    position: relative;
    right:176%;
    margin-top:105%;
  
}
.footer{
    background-color: black;
    color: white;
    width: 100%;
    margin-top:8%;
}
.arrow{
    position: relative;
    font-size:250%;
    transform: rotate(270deg);
    color:#9e9e9e;
    left:14%;

}
.Copyright{
    text-align: center;
}
.right{
    text-align: right;
    margin-top:-6%;
    
}
.add-number{
    margin-top:8%;
    margin-left:17%;
    background-color:#66bb6a;
}
